<div class="container">
  <h1>Kategoriler</h1>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Arama" (keyup)="UrunFiltrele($event)" />
  </mat-form-field>
  <p></p>

  <button mat-mini-fab color="primary" matTooltip="Kategori Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>

  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>

    <ng-container matColumnDef="katId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kategori Id
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.katId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="katAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kategori Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.katAdi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="katAracSay">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kategori Araç Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.katAracSay }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button
          mat-icon-button
          matTooltip="Detay"
          [routerLink]="['/admin/kategoriliste', kayit.katId]"
        >
          <mat-icon aria-label="label" color="primary">article</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label" color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 25]"
    showFirstLastButtons
    class="mat-elevation-z5"
  >
  </mat-paginator>
</div>
