<div class="container">
  <h1>Siparişler</h1>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Arama" (keyup)="UrunFiltrele($event)" />
  </mat-form-field>
  <p></p>

  <button mat-mini-fab color="primary" matTooltip="Ürün Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>

  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>

    <ng-container matColumnDef="siparisId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Sipariş Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.siparisId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="siparisUyeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Üye Id
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.siparisUyeId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="uyeAd">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Üye Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.uyeAd }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="siparisAracId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ürün Id
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.siparisAracId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ürün Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracAdi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracFiyat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ürün Fiyatı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracFiyat }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracBilgi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Sipariş Açıklaması
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracBilgi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="siparisTarih">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Sipariş Tarihi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.siparisTarih }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="uyeAdres">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Sipariş Adresi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.uyeAdres }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button
          mat-icon-button
          matTooltip="Detaylar"
          [routerLink]="['/admin/siparisliste', kayit.siparisId]"
        >
          <mat-icon aria-label="label" color="primary">article</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label" color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 25]"
    showFirstLastButtons
    class="mat-elevation-z5"
  >
  </mat-paginator>
</div>
