<div class="container">
  <h1>Araçlar</h1>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Arama" (keyup)="UrunFiltrele($event)" />
  </mat-form-field>
  <p></p>

  <button mat-mini-fab color="primary" matTooltip="Araç Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>

  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>

    <ng-container matColumnDef="aracFoto">
      <mat-header-cell *matHeaderCellDef >
        Ürün Görsel
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">


        <img [src]="apiServis.siteUrl + '/Dosyalar/' + kayit.aracFoto" style="width: 100px"
        matTooltip="Araç Görselini Güncellemek için Tıklayınız"  (click)="GorselGuncelle(kayit)"/>


      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aracKodu">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracKodu }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracAdi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracStok">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Stok Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracStok }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aracFiyat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Satış Fiyatı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracFiyat }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aracBilgi" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Bilgisi
      </mat-header-cell >
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracBilgi }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aracKatId" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Kategori Id
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracKatId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracMarkaId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Araç Marka Id
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.aracMarkaId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button
          mat-icon-button
          matTooltip="Detaylar"
          [routerLink]="['/admin/urunliste', kayit.aracId]"
        >
          <mat-icon aria-label="label" color="primary">article</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label" color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 25]"
    showFirstLastButtons
    class="mat-elevation-z5"
  >
  </mat-paginator>
</div>
