<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card style="width: 80%; background-color: #314fb9; color:white;" class="example-card">
      <mat-card-header>

        <mat-card-title>Dünden Bugüne...</mat-card-title>

      </mat-card-header>
<hr>
      <mat-card-content>
        <p>
          İşine tutkuyla bağlı profesyonel insan kaynağı, güçlü teknolojik altyapısı ve müşteri odaklı hizmet anlayışı ile "Araban Kapında", kullanıcılarının hayatlarına dokunarak değer yaratmak, hayallerine ulaşmalarına aracılık etmek ve en iyi deneyimleri yaşatmak için tüm gücüyle çalışmaya devam ediyor.        </p>
      </mat-card-content>
      <mat-card-header>

        <mat-card-title>Vizyonumuz</mat-card-title>

      </mat-card-header>
      <hr>
      <mat-card-content>
        <p>
          Yenilikçiliği, sürekli gelişimi ve değişimi ilke edinmiş insan kaynağı ve kurumsal yapısıyla; çevresine güven veren öncü bir hizmet şirketi olmak.
        </p>
      </mat-card-content>
      <mat-card-header>

        <mat-card-title>Misyonumuz</mat-card-title>

      </mat-card-header>
      <hr>
      <mat-card-content>
        <p>
          Temsil ettiğimiz markaların gücünü, kuruluşumuzdan bu yana içimizde barındırdığımız şeffaflık, dürüstlük ve çalışma azmiyle birleştirerek, otomotiv ve ilgili sektörlerde yenilikçi, güvenilir ve analitik yaklaşımlarla kaliteli hizmet sunmaktır.
        </p>
      </mat-card-content>

      <mat-card-header>

        <mat-card-title>Sosyal Sorumluluk</mat-card-title>

      </mat-card-header>
      <hr>
      <mat-card-content>
        <p>
          Yaşadığımız bölgenin kalkınmasında ve ilerlemesinde bireylerin üzerine düşen sorumluluklara ek olarak kurumların da sosyal sorumluluklarının farkındayız. Bu bilince sahip kurumsal yapımız ve insan kaynağımız ile bulunduğumuz bölgenin kalkınmasının ve ilerlemesinin “sağlıklı ve eğitimli bir toplum ile” gerçekleşeceğini düşünüyoruz.
        </p>
      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>



</mat-grid-list>
