<div class="container">
  <h1>Kategori Bilgisi</h1>

  <h3>
    <button mat-stroked-button color="primary" (click)="Duzenle(secKategori)">Düzenle</button>
    &nbsp;
    <button mat-stroked-button color="warn" (click)="Sil(secKategori)">Sil</button>
  </h3>

  <h3><b>Araç Id : </b>{{ secKategori?.katId }}</h3>
  <h3><b>Araç Adı : </b>{{ secKategori?.katAdi }}</h3>
  <h3><b>Kategori Araç Sayısı : </b>{{ secKategori?.katAracSay }}</h3>

  <p>&nbsp;</p>




  <button mat-stroked-button color="primary" [routerLink]="['/admin/kategoriler']">Geri</button>
</div>

