<div class="container">

  <button mat-stroked-button><a style="color: rgb(42, 199, 102)" href="admin/uyeler">Üyeler</a></button>
  <p>&nbsp;</p>
  <button mat-stroked-button><a style="color: rgb(180, 13, 13)" href="admin/urunler">Araçlar</a></button>
  <p>&nbsp;</p>
  <button mat-stroked-button><a style="color: rgb(66, 155, 207)" href="admin/kategoriler">Kategoriler</a></button>
  <p>&nbsp;</p>
  <button mat-stroked-button><a style="color: rgb(25, 151, 63)" href="admin/markalar">Markalar</a></button>
  <p>&nbsp;</p>
  <button mat-stroked-button><a style="color: rgb(134, 9, 118)" href="admin/siparisler">Siparişler</a></button>


</div>
